<footer>
  <div class="container">
    <div class="footer-top">
      <div class="row">
        <div class="col-sm-4">
          <div class="div">
            <h4 class="footer-title">Fpt play</h4>
            <ul class="list-unstyled">
              <li><a href="http://itvad.net/" target="_blank">Quảng cáo</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="div">
            <h4 class="footer-title">Quy định</h4>
            <ul class="list-unstyled">
              <li><a href="https://fptplay.net/quy-dinh/dieu-khoan-su-dung" target="_blank">Điều khoản sử dụng</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="div">
            <h4 class="footer-title">Mobile</h4>
            <ul class="list-unstyled">
              <li><a href="https://fptplay.net/ung-dung/mobile" target="_blank"><i class="fa fa-apple fa-lg"></i> iOS</a></li>
              <li><a href="https://fptplay.net/ung-dung/mobile" target="_blank"><i class="fa fa-android fa-lg"></i> Android</a></li>
              <li><a href="https://fptplay.net/ung-dung/mobile" target="_blank"><i class="fa fa-windows fa-lg"></i> Windows Phone</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-info">
      <div class="row">
        <div class="col-sm-3">
          <img src="vendor/images/logo_fpt8e5e.png?v=15" alt="">
        </div>
        <div class="col-sm-6">
          <div class="footer-address">
            Trụ sở: Tầng 1, tòa nhà FPT, phố Duy Tân, P. Dịch Vọng, Q. Cầu Giấy, Hà Nội
            <br> Số điện thoai: (84-4) 7300 2222 - Fax: (84-4) 7300 8889
            <br> Liên hệ quảng cáo: (08) 7300 2222 (ext: 18102)
            <br> Email: fptplay@fpt.com.vn
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-social">
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/fptplaybox.net/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
              <li class="hide"><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
              <li class="hide"><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="vendor/js/bootstrap.min.js"></script>
<script src="vendor/js/jquery.mousewheel.min.js"></script>
<script src="vendor/plugins/carousel-evolution/scripts/jquery.carousel-1.1.min8e5e.js?v=15"></script>
<script src="vendor/plugins/tooltipster-master/js/jquery.tooltipster.js"></script>
<script src="vendor/js/main8e5e.js?v=15"></script>
<script>
  $(document).ready(function() {
    $('.tooltipstered').tooltipster({
      contentAsHTML: true,
      interactive: true,
      trigger: 'click'
    });
  });
</script>