<footer>

    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <div class="mg-inverse">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="div">
                                    <h4 class="footer-title"><span class="color">Fpt play</span> box</h4>
                                    <!-- <ul class="list-unstyled">
                                      <li><a href="order.html#partner">Đối tác</a></li>
                                      <li><a href="order.html">Mua hàng</a></li>
                                      <li><a href="http://itvad.net/" target="_blank">Quảng cáo</a></li>
                                    </ul> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="div">
                                    <h4 class="footer-title">Hỗ trợ</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="box.html" target="_blank">Hướng dẫn sử dung</a></li>
                                        <li><a href="support.html" target="_blank">Câu hỏi thường gặp</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="div">
                                    <h4 class="footer-title">Liên hệ</h4>
                                    <ul class="list-unstyled">
                                        <li>Email: {{ site.email }}
                                            <br>Hotline: {{ site.phone }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--div class="footer-info">
            <div class="row">
                <div class="col-sm-3">
                    <img src="http://fptplay.tv/html/images/logo_fpt.png?v=15" alt="">
                </div>
                <div class="col-sm-6">
                    <div class="footer-address mg-inverse">
                        <strong>Trụ sở:</strong><br><br>Tầng 1, Tòa nhà FPT, Phố Duy Tân, P.Dịch Vọng, Q.Cầu Giấy, Hà
                        Nội <br>
                        Tầng 1, Tòa nhà FPT Tân Thuận, Lô 29B-31B-33B, Đường Tân Thuận KCX Tân Thuận, P.Tân Thuận Đông,
                        Q.7, TP.HCM <br>
                        <br> Số điện thoai: 19006600 - Fax: (84-4) 7300 8889
                        <br> Liên hệ quảng cáo: (08) 7300 2222 (ext: 18102)
                        <br> Email: {{ site.email }}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-social">
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/fptplaybox.net/" target="_blank"><i
                                    class="fa fa-facebook fa-2x"></i></a></li>
                            <li class="hide"><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                            <li class="hide"><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div-->
    </div>
</footer>

<!-- jQuery -->

<script src="http://fptplay.tv/html/js/bootstrap.min.js"></script>
<script src="http://fptplay.tv/html/js/jquery.mousewheel.min.js"></script>
<script src="http://fptplay.tv/html/plugins/carousel-evolution/scripts/jquery.carousel-1.1.min.js?v=16"></script>
<script src="http://fptplay.tv/html/plugins/tooltipster-master/js/jquery.tooltipster.js"></script>

<script src="http://fptplay.tv/html/js/main.js?v=16"></script>


<script>
    $(document).ready(function () {
        $('.tooltipstered').tooltipster({
            contentAsHTML: true,
            interactive: true,
            trigger: 'click'
        });
    });
</script>
