<header>
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="http://fptplay.tv/html/images/logo-fptplay.png?v=15" alt=""></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% for link in site.navigation %}
                    {% assign current = nil %}
                    {% if page.url == link.url %}
                    {% assign current = 'active' %}
                    {% endif %}
                    <li class="{{ current }}"><a href="http://click.accesstrade.vn/adv.php?rk=0002yx000lrv" target="_blank">{{ link.text }}<img src="http://imp.accesstrade.vn/img.php?rk=0002yx000lrv" border="0"/></a></li>
                    {% endfor %}
                    <li><a href="http://click.accesstrade.vn/adv.php?rk=0002yx000lrv" target="_blank">Đặt Hàng<img src="http://imp.accesstrade.vn/img.php?rk=0002yx000lrv" border="0"/></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
