@font-face {
  font-family: 'SanFrancisco';
  font-weight: 300;
  src: url('../fonts/SanFranciscoText-Light.otf');
}

@font-face {
  font-family: 'SanFrancisco';
  font-weight: 400;
  src: url('../fonts/SanFranciscoText-Regular.otf');
}

@font-face {
  font-family: 'SanFrancisco';
  font-weight: 500;
  src: url('../fonts/SanFranciscoText-Medium.otf');
}

@font-face {
  font-family: 'SanFrancisco';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/SanFranciscoText-Bold.otf');
}

*:focus {
  outline: none !important;
}

img {
  max-width: 100%;
}

body {
  padding-top: 91px;
  font-family: 'SanFrancisco', sans-serif;
  font-size: 16px;
}

header .navbar {
  margin: 0;
  padding: 20px 0;
  background-color: #fff;
  border-color: #f6f6f6
}

header .nav>li {
  font-size: 18px;
  text-transform: uppercase;
}

header .nav>li a {
  color: #535353;
  font-weight: 700;
}

header .nav>li.active a,
header .nav>li a:hover {
  color: #ff9601
}

header .nav>li>a:hover,
header .nav>li>a:focus {
  background-color: transparent;
}

header .navbar-brand {
  padding: 3px 15px 0;
}

header .navbar-toggle .icon-bar {
  background-color: #222;
}

.wrapper {
  position: relative;
  font-weight: 300;
  color: #777
}

.block .container {
  max-width: 970px;
}

.block.bg-top {
  background-color: #f6f6f6;
  padding: 30px 0;
}

.block p {
  font-size: 22px;
  line-height: 1.6
}

.block-title {
  font-weight: 400;
  font-size: 34px;
}

.block-title small {
  font-size: 85%
}

.box-left-bg {
  background-image: url(../images/left-bg.png);
  background-position: left -250px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.remote-box {
  margin: 50px 0 30px 0;
  text-align: center;
}

.box-fpt-play-tv {
  color: #fff;
  position: relative;
  z-index: 1;
}

.box-fpt-play-tv .block-title {
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.box-fpt-play-price {
  background-color: rgba(255, 255, 255, .3);
  padding: 30px;
  text-align: center;
  margin: 80px 0;
}

.box-fpt-play-price .bdr {
  border-right: 1px solid #8da6b8
}

.cost-sale {
  color: #ff9601
}

.cost-old {
  text-decoration: line-through;
}

.distribution {
  padding: 60px 0 0;
}

.distribution-title {
  font-weight: 400;
  margin-top: 5px;
}

.distribution .bgc {
  background-color: #ff9601;
  color: #fff;
  margin-top: 30px;
  padding: 30px 0 20px;
  font-size: 30px;
  text-align: center;
}

.address .div {
  margin-bottom: 30px;
}

.address-title {
  color: #222;
  text-transform: uppercase;
}

.address a {
  color: #ff9601;
}

.address li {
  margin-bottom: 10px;
}

.support {
  position: relative;
  padding: 0 0 30px;
}

.support .banner {
  margin-bottom: 80px;
}

.support .sp-item {
  position: relative;
  padding-left: 80px;
}

.support .sp-item:before {
  position: absolute;
  top: -50px;
  left: 0;
  content: "";
  background-image: url(../images/icon-support.png);
  background-repeat: no-repeat;
  width: 67px;
  height: 79px;
}

.icon-sp-one:before {
  background-position: -6px -81px;
}

.icon-sp-two:before {
  background-position: -79px -1px;
}

.icon-sp-three:before {
  background-position: -5px -1px;
}

.icon-sp-four:before {
  background-position: -78px -80px;
}

.support .sp-item {
  margin-bottom: 60px;
}

.support .sp-item h3 {
  color: #ff9601
}

.support .sp-item li {
  margin: 12px 0;
  position: relative;
  color: #333;
  padding-left: 8px;
}

.support .sp-item li:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "."
}

.support .sp-item li:hover {
  color: #000;
  cursor: pointer;
}

footer {
  background-color: #161616;
  color: #828282;
  padding: 50px 0;
}

.footer-top a {
  color: #828282;
}

.footer-top li {
  margin-bottom: 10px;
}

.footer-top a i {
  margin-right: 5px;
}

.footer-social a:hover,
.footer-top a:hover {
  color: #ff9601;
  text-decoration: none;
}

.footer-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}

.footer-info {
  padding-top: 44px;
  margin-top: 44px;
  border-top: 1px solid #363636
}

.footer-social a {
  background-color: #262626;
  color: #fff;
  border-radius: 50%;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 72px;
  text-align: center;
}

span.color {
  color: #ff9601
}

.bdt {
  border-top: 1px solid #b7b7b7;
  padding: 40px 0;
  margin: 40px 0;
}

.btn-buy {
  background-color: #ff9601;
  color: #fff !important;
  border: 2px solid transparent;
  border-radius: 30px;
  padding: 13px 30px !important;
  font-size: 18px;
  font-weight: 400 !important;
  text-transform: uppercase;
}

.btn-buy:focus,
.btn-buy:hover {
  border-color: #ff9601 !important;
  background-color: transparent;
  color: #ff9601 !important;
}

.contact-buy {
  font-size: 20px;
  margin-top: 5px;
}

#slideshow3d {
  position: relative;
  margin-top: 40px;
}

#modal_banner .close_banner {
  position: absolute;
  right: 8px;
  top: 5px;
  color: #ff9601;
  opacity: 0.5
}

#modal_banner .close_banner:hover {
  opacity: 1
}

.youtube iframe {
  width: 100%;
  min-height: 200px
}

.img-box-upload {
  margin-top: 100px;
}

.box-chat {
  position: relative;
  z-index: 1005
}

#chat_fpt_play {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

#facebook {
  position: fixed;
  bottom: 107px;
  right: 10px;
  display: none;
  padding: 0 8px 8px;
  background-color: #ef4c23;
  border-radius: 5px;
  background: #f06322;
  background: -webkit-linear-gradient(-45deg, #f17d24, #ef4c23);
  background: -o-linear-gradient(-45deg, #f17d24, #ef4c23);
  background: linear-gradient(-45deg, #f17d24, #ef4c23);
}

#facebook .title {
  font-weight: bold;
  color: #fff;
  margin: 15px 0;
  font-size: 20px;
}

@media (min-width: 768px) {
  .mt250 {
    margin-top: 250px;
  }
  .box-left-bg:after {
    content: "";
    background-image: url(../images/bg-box-fpt-play-tv.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 41.66666667%;
  }
  .footer-address {
    margin-left: -58px;
  }
  .footer-social {
    text-align: right;
  }
  .youtube iframe {
    height: 405px
  }
}

@media (min-width: 992px) {
  header .nav>li {
    margin: 0 10px;
  }
  header .nav>li:last-child {
    margin-left: 40px;
  }
  .box-fpt-play-tv {
    padding: 60px 40px;
  }
  .cost-sale,
  .cost-old {
    font-size: 32px;
  }
  .youtube iframe {
    height: 529px
  }
}

@media(max-width: 768px) {
  header .nav>li:last-child {
    margin: 0 15px;
  }
  header .navbar-brand {
    width: 80%;
  }
  .box-fpt-play-tv {
    background-image: url(../images/bg-box-fpt-play-tv.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
  }
  .block p,
  .cost-sale,
  .cost-old {
    font-size: 18px;
  }
  .block-title,
  .distribution .bgc {
    font-size: 24px;
  }
  .footer-address {
    margin: 30px 0 60px;
  }
  .footer-social {
    text-align: center;
  }
  .box-fpt-play-price {
    margin: 20px 0;
  }
  .footer-info {
    padding-bottom: 60px;
  }
  .footer-top .div {
    margin-bottom: 30px;
  }
  .img-box-upload {
    margin-top: 50px;
  }
}

@media(max-width: 768px) {
  .cost-sale,
  .cost-old {
    font-size: 16px;
  }
}

@media(max-width: 320px) {
  .contact-buy {
    font-size: 18px
  }
}


/*plugin slick*/

.slick-slide h3 {
  background: #fff;
  color: #3498db;
  font-size: 16px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
  border: 1px solid #ddd
}

.slick-slide {
  z-index: 1
}

.slider-for .slick-track {
  padding: 150px 0 50px;
}

.slider-for .slick-active .box-img {
  margin: -30px;
  position: relative;
  z-index: 5;
}

.slider-for .slick-current .box-img {
  margin: -150px -200px 0;
  position: relative;
  z-index: 11
}

.tooltipster-default {
  width: 320px;
  background-color: #fd9603;
  border-color: #fd9603;
  padding: 15px 5px 5px;
  border-radius: 40px;
}

.tooltipster-default .tooltipster-content {
  line-height: 1.4;
  text-align: justify;
}

.tooltipster-arrow-top .tooltipster-arrow-border,
.tooltipster-arrow-top-right .tooltipster-arrow-border,
.tooltipster-arrow-top-left .tooltipster-arrow-border,
.tooltipster-arrow-top span,
.tooltipster-arrow-top-right span,
.tooltipster-arrow-top-left span {
  border-width: 10px;
  bottom: -9px;
}

.tooltipster-default li a,
.tooltipster-default p a {
  color: #333;
  text-decoration: none;
}

.tooltipster-default li a:hover,
.tooltipster-default p a:hover {
  color: #555
}
